{{ define "taxes" }}
{{ template "header" . }}
{{ template "navigation" . }}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Tax details</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Character</th>
						<th>Comment</th>
						<th>Loot Paste</th>
						<th>Total Value (ISK)</th>
						<th>Tax Amount (ISK)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ .lootPaste.ID }}</td>
						<td>{{ .lootPaste.CharacterName }}</td>
						<td><textarea class="form-control" rows="1" readonly="readonly">{{ .lootPaste.PasteComment }}</textarea></td>
						<td><textarea class="form-control" rows="1" readonly="readonly">{{ .lootPaste.RawPaste }}</textarea></td>
						<td align="right">{{ FormatISK .lootPaste.TotalValue }}</td>
						<td class="danger" align="right">{{ FormatISK .lootPaste.TaxAmount }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{{ template "footer" . }}
{{ end }}